.header_area{
    .header_top{
        padding:22px 0 15px;
        .header_top_inner{
            position: relative;
            .header_left{
                .contact_info{
                    a{
                        float: left;
                        margin:7px 38px 0 0;
                        display: block;
                        overflow: hidden;
                        i{
                            color: $base;
                            font-size: 20px;
                            float: left;
                            margin: 0 10px 0 0;
                            @include transition;
                        }
                        span{
                            color: #a4abaf;
                            font: 400 14px/22px $roboto;
                            float: left;
                            @include transition;
                        }
                        &:hover{
                            margin: 7px 33px 0 0; 
                            i{
                                transform: scale(1.2,1.2);
                            }
                            span{
                                color: $base;
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
            .header_right{
                .course_info{
                    a{
                        i{
                            color: $base;
                            font-size: 16px;
                            float: left;
                            margin: 7px 5px 0 0;
                            @include transition;
                        }
                        span{
                            color: #737788;
                            font: 400 14px/22px $roboto;
                            text-transform: uppercase;
                            float: left;
                            margin: 6px 0 0 0;
                            @include transition;
                        }
                        &:hover{
                            i{
                                transform: scale(1.2,1.2);
                            }
                            span{
                                color: $base;
                                padding-left: 5px;
                            }
                        }
                        
                    }
                    button{
                        color: $base;
                        font: 400 14px/1 $roboto;
                        text-transform: uppercase;
                        padding: 10px 30px;
                        border: 1px solid $base;
                        height: 35px;
                        display: inline-block;
                        border-radius: 2px;
                        background: transparent;
                        float: right;
                        &:hover{
                            background: $base;
                            color: #fff;
                            border: 1px solid $base;
                        }
                    }
                    button.selected{
                        background: #ff6a6a;
                        color:#fff;
                        margin: 0 0 0 2px;
                        padding: 10px 30px;
                        border: 0;
                        &:hover{
                            background: $base;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .header_bottom{
        background: $base2;
        padding: 0;
        .navbar{
            margin-bottom: 0px;
        }
        .logo{
            img{
                
            }
        }
        .navbar-default{
            background: none;
            border: none;
            .navbar-header{
                padding: 33px 0 42px;
                .navbar-brand{
                    padding: 0px;
                }
            }
        }
        .main_menu{
            margin: 15px 0px 0px 0px;
            ul{
                margin:0; 
                padding:0;
                li{
                    list-style:none;
                    a{
                        font: 700 16px/100px $roboto;
                        color: #fafafa;
                        padding:0px 22px;
                        text-transform: uppercase;
                        position: relative;
                        display: inline-block;
                        &:hover, &:focus{
                            color:$base;
                        }
                        &:before{
                            content: "";
                            background: url(../img/menu/icon.png) no-repeat scroll 0 0;
                            width: 16px;
                            position: absolute;
                            opacity: 0;
                            top: 90px;
                            left: 50%;
                            height: 15px;
                            margin: 0 0 0 -8px;
                        }
                        &:hover{
                            &:before{
                                opacity:1;
                                top: 65px;
                            }
                        }
                    }
                    &:hover, &:focus, &.active{
                        a{
                            color:$base;
                            background: transparent;
							
                        }
                    }
                    &:hover > ul.dropdown-menu{
                        opacity: 1;
                    }
                }
                li.dropdown{
                    list-style:none;
                    float:left;
                    a{
                        &:focus{
                            background:none;
                        }
                    }
                    ul.dropdown-menu{
                        background: #242c42;
                        border: none;
                        display: block;
                        top: 150%;
                        opacity: 0;
                        visibility: hidden;
                        left:0;
                        @include transition;
                        li{
                            a{
                                font: 700 16px/24px $roboto;
                                padding: 15px 20px;
                                color: #fafafa;
                                background: none;
                                &:before{
                                    background: none;
                                }
                            }
                            &:hover{
                                a{
                                    color:$base;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .banner_area{
        background: url(../img/slider.jpg) no-repeat scroll 0 0;
        position:relative;
        background-size: cover;
        .banner_inner{
            position: relative;
            .banner_content{
                padding-top: 78px;
                h2{
                    font:700 60px/80px $roboto;
                    color:#fafafa;
                    text-transform: uppercase;
                    span{
                        color:$base;
                    }
                }
                p{
                    font: 400 14px/26px $roboto;
                    color: $base3;
                    margin: 26px 0 32px 0px;
                }
                .custom_hover{
                    font: 700 16px/16px $roboto;
                    color: $base5;
                    background: $base;
                    padding: 24px 58px;
                    display: inline-block;
                    text-transform: uppercase;
                    border-radius: 2px;
                    letter-spacing: .2px;
                }
            }
            .banner_image{
                img{
                    width: 100%;
                }
            }
        }
    }
}
.header_area.demo_three{
    .video_area{
        background: url(../img/slider/slider_03.jpg) no-repeat scroll center;
        position: relative;
        background-size: cover;
        .modal{
            overflow: hidden;
        }
        .video-controls{
            position: relative;
            z-index: 2;
            button{
                background: none;
                border: none;
                i{
                    font-size: 40px;
                    border: 3px solid #626878;
                    padding: 15px;
                    display: inline-block;
                    width: 80px;
                    height: 80px;
                    background: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                }
            }
        }
        .demo_three, .header_bottom_demo_two_three{    
            position: relative;
            z-index: 2;
        }
        .video_area_content{
            text-align: center;
            position: relative;
            z-index: 2;
            margin: 274px 0 235px;
            a.play-btn{
                border: 3px solid #626878;
                padding: 35px 34px 34px 40px;
                display: inline-block;
                border-radius: 100px;
                width: 112px;
                height: 112px;
                background: none;
                line-height: 0;
                cursor: pointer;
                img{
                }
            }
            p{
                font: 400 16px/26px $roboto;
                letter-spacing: .2px;
                color: #cfd8df;
                margin: 46px 0 51px 0;}
            a{
                font: 700 16px/60px $roboto;
                letter-spacing: .2px;
                color: #e9eef2;
                background: #0cbdaa;
                padding: 0px 77px;
                display: inline-block;
                border-radius: 3px;
                text-transform: uppercase;
            }
        }
        &:before{    
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            background: url(../img/slider/pattern4.png);
            width: 100%;
            height: 100%;
            opacity: 0.70;
        }
        &:after{    
            content: '';
            position: absolute;
            top: 0px;
            left: 0;
            background: #3a4155;
            width: 100%;
            height: 100%;
            opacity: 0.75;
        }
    }
}
.home_two{
    background: url(../img/banner/bg_02.jpg) no-repeat scroll 0 0;
    background-size: cover;
    .header_top{
        background: #f3f7fb;
        padding:22px 0 15px;
        .header_social{
            margin: 9px 0 0;
            a{
                display: inline-block;
                i{
                    color: #7d8392;
                    font-size: 22px;
                    float: left;
                    padding: 0 15px;
                    border-right: 1px solid #323d44;
                    line-height: 9px;
                    @include transition;
                }
                &:hover{
                    i{
                        color: $base;
                    }
                }
            }
        }
    }
    .home_two_bottom{
        position: relative;
        background: rgba(36,44,66,0.96);
        &:before{
            content: '';
            background: $base2;
            opacity: .96;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
        }
        .banner_area{
            position:relative;
            background: none;
            .banner_content{
                position: relative;
                text-align: center;
                h2{
                    letter-spacing: .2px;
                    color: $base5;
                }
                p{
                    font: 400 18px/28px $roboto;
                    margin: 11px 0 0;
                    letter-spacing: 0.6px;
                }
				.custom_hover {
					margin-top: 100px;
				}
                .mouse_area{
                    position: relative;
                    .mouse_button{
                        i{
                            color: $base5;
                            display: block;
                            font-size: 30px;
                            margin: 28px 0 32px;
                        }
                    }
                }
                
            }
            .slider_image{
                margin: 64px 0 0;
                img{
                    width: auto;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
}
.page_header_area{
    background: none;
    .page_header{
        background: url(../img/banner/bg_03.jpg) no-repeat fixed;
        background-size: cover;
        .header_bottom{
            background: rgba(36,44,66,0.95);
        }
        .page_header_inner{
            position: relative;
            text-align: center;
            text-transform: uppercase;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: block;
                background: rgba(36,44,66,0.95);
            }
            h2{
                position: relative;
                font: normal 28px $robotos;
                color: $base5;
                padding: 48px 0 40px;
                letter-spacing: 0.2px;
            }
        }
    }
}

.page_subtitle{
    background: #f3f7fb;
    text-align: center;
    .breadcrumb{
        padding: 15px;
        li{
            font: normal 14px $roboto;
            color: $base4;
            letter-spacing: 0.6px;
            a{
                font: normal 14px $roboto;
                color: $base4;
                letter-spacing: 0.6px;
                &:hover{
                    color: $base;
                }
            }
        }
    }
}

.affix{
    background: #162634 !important;
    position: fixed !important;
    z-index: 9999;
    width: 100%;
    height: 120px;
    left: 0;
    top: 0;
    margin: 0;
    .page_header_inner{
        display: none;
    }
}

.affix + .banner_area{
    margin-top: 125px;
}
.affix + .video_area{
    margin-top: 150px;
}
.affix + .page_header_inner{
    margin-top: 120px;
}