/*----------------------------------------------------
@File: Default Styles
@Author: Emran Khan
@URL:http://www.emran.web-assassin.com

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

This files contents are outlined below.

	1. Variables
	2. Prefix
	3. News
    4. course
    5. contact
    6. header
    7. slider
    8. aboutus 
    9. project
    10. teacher
    11. Registration
    12. Events
    13. Clients
    14. Service
    15. Our Support
    16. Popular Course
    17. Pricing Table
    18. Contact Form
    19. Contact2
    20. Why Choose
	

----------------------------------------------------*/
 
/*--------------------------------------------------*/
@import "variables";
/*--------------------------------------------------*/
@import "prefix";
/*--------------------------------------------------*/
@import "news";
/*--------------------------------------------------*/
@import "find_course";
/*--------------------------------------------------*/
@import "course";
/*--------------------------------------------------*/
@import "contact";
/*--------------------------------------------------*/
@import "header";
/*--------------------------------------------------*/
@import "coursetiming";
/*--------------------------------------------------*/
@import "aboutus";
/*--------------------------------------------------*/
@import "project";
/*--------------------------------------------------*/
@import "teacher";
/*--------------------------------------------------*/
@import "registration";
/*--------------------------------------------------*/
@import "events";
/*--------------------------------------------------*/
@import "clients";
/*--------------------------------------------------*/
@import "service";
/*--------------------------------------------------*/
@import "about-pathagar";
/*--------------------------------------------------*/
@import "our_support";
/*--------------------------------------------------*/
@import "popular_course";
/*--------------------------------------------------*/
@import "pricing_table";
/*--------------------------------------------------*/
@import "contact_form";
/*--------------------------------------------------*/
@import "contact2";
/*--------------------------------------------------*/
@import "why_choose";
/*--------------------------------------------------*/
@import "footer";
/*--------------------------------------------------*/