<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="description" content="{meta_description}{/}">
<meta name="keywords" content="{meta_keywords}{/}">
<title>{title}xEpan CMS{/}</title>
<!--xEpan-ATK-Header-Start
                     {$js_block}
                     {$js_include}
                     <script type="text/javascript">
                     $(function(){
                     {$document_ready}
                     });
                     </script>
                     <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
                     xEpan-ATK-Header-End--><meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon --><link rel="icon" href="img/favicon.png" type="image/x-icon">
<!-- Bootstrap CSS --><link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Animate CSS --><link href="vendors/animate/animate.css" rel="stylesheet">
<!-- Countdown CSS --><link href="vendors/countdown/jquery.countdown.css" rel="stylesheet">
<!-- Bootstrap Selector CSS--><link rel="stylesheet" href="vendors/selector/bootstrap-select.min.css">
<!-- Icon CSS--><link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="vendors/MaterialDesign/css/materialdesignicons.min.css">
<!-- Owlcarousel CSS--><link rel="stylesheet" type="text/css" href="vendors/owl_carousel/owl.carousel.css" media="all">
<link rel="stylesheet" type="text/css" href="vendors/owl_carousel/owl.theme.default.min.css">
<!--Theme Styles CSS--><link rel="stylesheet" type="text/css" href="css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="css/responsive.css" media="all">
<!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- S<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">tart Preloader -->
    <div class="xepan-v-body xepan-component xepan-sortable-component ui-sortable" xepan-component-name="Main Body" id="5545ddc2-91ae-4a05-cf0f-9c9cf28ed43b" scrollamount="">
        <!-- Start Header Area -->
        <header class="header_area"><div class="row m0 header_top">
                <div class="container">
                    <div class="row header_top_inner">
                        <div class="col-lg-6 col-md-5 header_left">
                            <div class="contact_info">
                            <a href="#" class="contact_link">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="xepan-component xepan-editable-text xepan-no-richtext" xepan-component-name="Generic" id="d6ea1843-c511-4243-8ed3-ed41ba904b2f" contenteditable="false">info@paathashala.com</span>
                            </a>
                                <!-- <a href="+880172903889" class="contact_link xepan-component xepan-editable-text xepan-no-richtext" xepan-component-name="phone number" id="bc29a77b-dc2a-4668-f06d-1be796883b21" contenteditable="false">
                                <i class="mdi mdi-phone"></i>
                                <span>+880 172 903889</span> -->
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7 header_right">
                            <div class="row">
                                <div class="col-md-7 col-lg-7 col-sm-12">
                                    <div class="course_info xepan-component xepan-sortable-component ui-sortable" xepan-component-name="top bar course info" id="6b928afe-5a9b-4fbf-db58-3da5d318e344">
                                        <a href="mock-test" target="" id="xepan-193853a1-ecb2-4ca1-a05d-e9d86d4191af" style="" data-button-icon-class="fa-arrow-right" data-icon-position="left" xepan-button-label="मॉक टेस्ट के लिए क्लिक करे " xepan-button-link="mock-test" xepan-button-link-behavior="0" xepan-component="xepan/cms/Tool_Button" xepan-component-name="Button" class="xepan-button xepan-component custom-btn-links btn  btn-lg btn-default" scrollamount="">मॉक टेस्ट के लिए क्लिक करे  <i class="fa undefined"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-5 col-xs-5 col-lg-5">
                                    <!-- <button class="selected">रजिस्टर</button>
                                    <button>साइन इन करें</button> -->
                                    <div class="xepan-component xepan-serverside-component" xepan-component-name="UserPanel" xepan-component="xepan/base/Tool_UserPanel" id="xepan-32bd6394-fa13-43af-e273-5c072616fe29" layout="login_view" show_micro_login="true" scrollamount="" logout_page="logout" login_page="login" registration_page_extranal_url="login" member_panel_page="member-account"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row m0 header_bottom affix-top">
                <nav class="navbar navbar-default"><div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index"><img src="img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="main_menu collapse navbar-collapse ui-sortable xepan-component xepan-sortable-component" id="bs-example-navbar-collapse-1" scrollamount="" xepan-component-name="menu bar section">
                            <div class="xepan-component xepan-serverside-component" xepan-component-name="Course" xepan-component="xavoc/dictionary/Tool_Course" id="fe129267-d2aa-483b-cd4a-1ce321edc692" scrollamount=""></div>
                        </div>
                    </div>
                </nav>
</div>
            <!-- Start Slider Area -->
            <!-- End Slider Area -->
        </header><!-- End Header Area --><div xepan-component="xepan/cms/Tool_TemplateContentRegion" class="xepan-component xepan-page-wrapper" id="a5f6b55d-d553-422d-be36-57c538445d0a">{$Content}</div>
    </div>
</body>
<p>{$after_body_code}
</p>
</html>
